Node_RED/NodeRED_Flow.txt
[{"id":"1a898559.53438b","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e1c7e154.d8cb9","type":"ttn uplink","z":"1a898559.53438b","name":"TTN_Uplink","app":"7a2a0c59.644684","dev_id":"arduino1","field":"","x":110,"y":260,"wires":[["dd5de83d.ea9238"]]},{"id":"dd5de83d.ea9238","type":"json","z":"1a898559.53438b","name":"","property":"payload","action":"","pretty":false,"x":350,"y":260,"wires":[["de5e70ca.90588","ef76660e.4d5a78","5c6e39ae.c25988"]]},{"id":"de5e70ca.90588","type":"debug","z":"1a898559.53438b","name":"Payload","active":true,"tosidebar":false,"console":false,"tostatus":false,"complete":"payload","x":540,"y":260,"wires":[]},{"id":"ef76660e.4d5a78","type":"function","z":"1a898559.53438b","name":"Extract Payload GasSensorVoltage","func":"msg.payload = msg.payload_fields.GasSensorVoltage;\nreturn msg;","outputs":1,"noerr":0,"x":620,"y":340,"wires":[["7de3a130.8003","191e5b8b.84a314"]]},{"id":"7de3a130.8003","type":"debug","z":"1a898559.53438b","name":"GasSensorVoltage","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":910,"y":340,"wires":[]},{"id":"191e5b8b.84a314","type":"ui_gauge","z":"1a898559.53438b","name":"Gas Sensor Voltage","group":"790079f5.ff8118","order":0,"width":0,"height":0,"gtype":"gage","title":"Gas Sensor Voltage","label":"Volt","format":"{{value}}","min":0,"max":"5","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":910,"y":380,"wires":[]},{"id":"35389dd.0268262","type":"debug","z":"1a898559.53438b","name":"GasAlert","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":880,"y":500,"wires":[]},{"id":"5c6e39ae.c25988","type":"function","z":"1a898559.53438b","name":"Extract Payload GasAlert","func":"msg.payload = msg.payload_fields.GasAlert; \nreturn msg ;","outputs":1,"noerr":0,"x":590,"y":500,"wires":[["35389dd.0268262","c4568e17.aa277"]]},{"id":"c4568e17.aa277","type":"ui_text","z":"1a898559.53438b","group":"790079f5.ff8118","order":0,"width":"0","height":"0","name":"Alert","label":"Alert :","format":"{{msg.payload}}","layout":"row-center","x":870,"y":540,"wires":[]},{"id":"2af0a52c.dd95aa","type":"ttn downlink","z":"1a898559.53438b","name":"TTN_Downlink","app":"7a2a0c59.644684","dev_id":"arduino1","port":"1","confirmed":false,"schedule":"replace","x":360,"y":740,"wires":[]},{"id":"839e4195.3474","type":"debug","z":"1a898559.53438b","name":"CalibrationDebug","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":370,"y":700,"wires":[]},{"id":"9b9523b0.42b74","type":"ui_button","z":"1a898559.53438b","name":"CalibrationButton","group":"790079f5.ff8118","order":0,"width":0,"height":0,"passthru":false,"label":"Calibrate the Gas Sensor","color":"","bgcolor":"","icon":"","payload":"\"05\"","payloadType":"json","topic":"","x":130,"y":700,"wires":[["2af0a52c.dd95aa","839e4195.3474"]]},{"id":"328e918e.63791e","type":"json","z":"1a898559.53438b","name":"","property":"payload","action":"","pretty":false,"x":350,"y":260,"wires":[[]]},{"id":"7a2a0c59.644684","type":"ttn app","z":"","appId":"test-puce-rn2483","accessKey":"ttn-account-v2.zmzo2kxsvNrUZ8txXWrejQkd_J-zpcUyma5otLOX0i8","discovery":"discovery.thethingsnetwork.org:1900"},{"id":"790079f5.ff8118","type":"ui_group","z":"","name":"Gas Sensor Infos","tab":"2b872cf3.e366f4","order":1,"disp":true,"width":"10","collapse":false},{"id":"2b872cf3.e366f4","type":"ui_tab","z":"","name":"Gas Sensor Dashboard","icon":"dashboard","order":1}]
